{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="posts">

	{{ range first 10 .Data.Pages }}
	    <article>
	      <div class="summary">
	        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					<span class="post-date">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
					<div style="float: left; margin-right:10px">
						<img src="{{ .Params.Thumbnail }}" />
					</div>
					{{ .Summary }}
	      </div>
	      {{ if .Truncated }}
	      <div class="read-more-link">
	        <a href="{{ .RelPermalink }}">Read More…</a>
	      </div>
	      {{ end }}
	    </article>
	{{ end }}

</div>

</div>

  </body>
</html>
